


$dark: #026670;
$secondary: #9FEDD7;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
	"background" : #EDEAE5,
	"text" : #FCE181,
	"cancel" : #FEF9C7
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss"