{% extends '/results/results-base.html' %}

{% block title %}{{ activity_name }}{% endblock %}


{% block header %}
Explore Options for {{ activity_name }}
{% endblock %}

{% block secondary_nav_top %}
<a href="/trips/{{ trip_id }}/activities" class="btn btn-secondary">
	Back to All Activities
</a>
{% endblock %}

{% block secondary_nav_bottom %}
<a href="/trips/{{ trip_id }}/activities" class="btn btn-secondary">
	Back to All Activities
</a>
{% endblock %}

{% block add_script %}<script>let activityId = "{{ activity_id }}";</script>{% endblock %}
{% block bg_pics %}
		<div class="row no-side-space">
			<div class="col text-center no-side-space">
				<img class="img-fluid home-img" src="{{ bg_img1 }}" >
			</div>
		</div>
		<div class="row no-side-space">
			<div class="col text-center no-side-space">
				<img class="img-fluid home-img" src="{{ bg_img2 }}">
			</div>
		</div>
		<div class="row no-side-space">
			<div class="col text-center no-side-space">
				<img class="img-fluid home-img" src="{{ bg_img3 }}">
			</div>
		</div>
	{% endblock %}



