{% extends "base.html" %}

{% block title %}MyTrips{% endblock %}

{% block content %}
<div class="container">
	<h1>My Adventures OutDoors</h1>
	<a href="/trips/create" class="btn btn-secondary">New Trip</a>
</div>
<div class="container" style="max-width:50%;">
	{% for trip in trips %}
	<div class="card">
		<div class="card-body">
			<a href="/trips/{{ trip.id }}">
				<h2 class="card-title">{{ trip.name }}</h2>
				<h4 class="card-subtitle">
					{{ display_date(trip.start_date) }} to {{ display_date(trip.end_date) }}
				</h4>
			</a>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}