{% extends "base.html" %}

{% block title %}MyTrips{% endblock %}
{% block header %}{{ g.user.first_name }}'s OutDoor Adventures{% endblock %}

{% block subheader %}
<a href="/trips/create" class="btn btn-lg btn-secondary" style="width:20%">Plan A New Adventure</a>
{% endblock %}

		{% block content %}	
		<div class="container" style="width:70%; margin-top:20px">
			{% for trip in trips %}
				<div class="card bg-secondary bg-opacity-50 trip-card" style="margin-top:5px;">
					<a href="/trips/{{ trip.id }}" class="trip-link">
						<div class="card-body">
							<div class="row">
								<div class="col-2">
									<img class="trip-img" src="https://cdn.pixabay.com/photo/2016/11/01/22/34/dirt-road-1789903_1280.jpg">
								</div>
								<div class="col-3">
									<div class="row">
										<h4 class="text-dark">{{ display_date(trip.start_date) }} to</h4>
									</div>
									<div class="row">
										<h4 class="text-dark">{{ display_date(trip.end_date) }}</h4>
									</div>
								</div>
								<div class="col-5 d-flex align-items-center">
									<h2 class="card-title text-text">{{ trip.name }}</h2>
								</div>
								<div class="col-2 d-flex align-items-center justify-content-center">
									<form action="/trips/{{ trip.id }}/complete" method="POST">
										<button class="btn btn-sm btn-secondary">Complete</button>
									</form>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endblock %}
{% block bg_pics %}
		<div class="row no-side-space">
			<div class="col text-center no-side-space">
				<img class="img-fluid home-img" src="https://cdn.pixabay.com/photo/2015/09/05/23/37/road-926315_1280.jpg" >
			</div>
		</div>
		<div class="row no-side-space">
			<div class="col text-center no-side-space">
				<img class="img-fluid home-img" src="https://cdn.pixabay.com/photo/2022/11/14/01/43/rv-7590617_1280.jpg">
			</div>
		</div>
{% endblock %}

