{% extends "basic.html" %}

{% block title %}Where{% endblock %}

{% block header %}Where Do You Want to Go?{% endblock %}
{% block sub_header %}Seach by City/State or Latitude/Longitude{% endblock %}
{% block content %}
		<form>
			<div class="mb-3" id="search-params">

				<div style="margin-top:30px;">
					<div class="row">
						<div class="col">
							<input type="radio" class="btn-check" name="location-type" id="city-state" value="city-state" autocomplete="off" checked>
							<label class="btn btn-outline-secondary" for="city-state">City/State</label>

							<input type="radio" class="btn-check" name="location-type" id="lat-long" value="lat-long" autocomplete="off">
							<label class="btn btn-outline-secondary" for="lat-long">Latitude/Longitude</label>
						</div>
					</div>
					<div class="row" id="city-state-row">
						<div class="col-8">
							<input class ="form-control" id="city-field" placeholder="City" name="city" style="margin-top:10px;">
						</div>
						<div class="col-4">
							<select class ="form-select" id="state-field" name="state" style="margin-top:10px;">
								<option value="">State</option>
							</select>
						</div>
					</div>
					<div class="row" id="lat-long-row">
						<div class="col-6">
							<input class ="form-control" id="lat-field" placeholder="Latitude" name="lat" style="margin-top:10px;">
						</div>
						<div class="col-6">
							<input class ="form-control" id="long-field" placeholder="Longitude" name="long" style="margin-top:10px;">
						</div>
					</div>
					<input class ="form-control" id="radius-field" placeholder="Radius" name="radius" style="margin-top:10px">
				</div>
			</div>
			<button type="submit" class="btn btn-secondary" id="search-btn">Next</button>
		</form>
	</div>
</div>

<script> let tripId= "{{ trip_id }}"; </script>
{% endblock %}