{% extends "base.html" %}

{% block title %}{{ trip.name }}{% endblock %}

{% block page %}
<div class=" container">
	<div class="row">
		<div class="col">
			<div class="container">
				<div class="card  trip-title-container">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<h2 class="card-title">{{ trip.name }}</h2>
								<h5 class="card-subtitle">
									{{ days[0]["month"] }} 
									{{ days[0]["day"] }}, {{ days[0]["year"] }} to 
									{{ days[-1]["month"] }} {{ days[-1]["day"] }}, 
									{{ days[-1]["year"] }}
								</h5>
								<a style="margin-top:10px;" href="trips/{{ trip.id }}/update" class="btn btn-secondary btn-sm" role="button">Edit</a>
							</div>
							<div class="col-8">
								<form action="/trips/{{ trip.id }}/update" method="POST">
									{{ form.hidden_tag() }}
									<h5>
										Description/Notes
										<button type="submit" class="btn btn-secondary btn-sm">
											Update
										</button>
									</h5>
									{{ form.description(class="form-control input-bg", style="width:90%")}}
								</form>
									
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-8" style="padding:0px 0px 0px 12px;">
			<div class="container" style="padding:0px 0px 0px 12px;">
				<ul class="list-group">
					{% for day in days %}
						<li class="list-group-item trip-components">
							<h5>{{ day["dow"] }}, {{ day["month"] }} {{ day["day"] }}</h5>
							<div class="card trip-card">
								<div class="card-body">
									<div class="row">
										<div class="col-3">
											<h6 class="card-title">Campground</h6>
										</div>
										<div class="col-6">
											{% if day.camp_id %}
											<h6> 
												<a class="link-color" href="/locations/{{ day.camp.id }}">{{ day.camp.name }}
												</a>
											</h6>
											</div>
										<div class="col-3">
											<form action="/trips/{{ trip.id }}/campground/unassign" method="POST">
												<input type="hidden" value="{{ day.camp.id }}" name="campground-id">
												<input type="hidden" value="{{ day.id }}" name="day-id">
												<button type="submit" class="btn btn-sm btn-info">Unassign</button>
											</form>
										</div>
											{% endif %}
									</div>
								</div>
							</div>
							<div class="card trip-card">
								<div class="card-body">
									<h6 class="card-title">Activities</h6>
									{% for act in  day.activity %}
									<h6> {{ act.activities.name }} @ 
										<a class="link-color" href="/locations/{{act.location_id}}">
											{{ act.location.name }}
										</a>
										<form action="/trips/{{ trip.id }}/activity/unassign" method="POST">
											<input type="hidden" value="{{ act.id }}" name="day-act-id">
											<button type="submit" class="btn btn=sm btn-dark">Unassign</button>
										</form>
									</h6>
									{% endfor %}
								</div>
							</div>	
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-4" style="padding:0px 12px 0px 0px;">
			<div class="container" style="padding:0px 12px 0px 0px;">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">Campgrounds</h2>
						<a href="/trips/{{ trip.id }}/campgrounds" id="more-camps-btn" class="btn btn-md btn-secondary more-button">
							More Campgrounds
						</a>
						<ul class="list-group">
						{% for camp in trip.u_camps %}
							<li class="list-group-item">
								<a href="/locations/{{ camp.id }}">{{ camp.name }}</a>
								<form action="/trips/{{ trip.id }}/campground/delete" method="POST">
									<input type="hidden" value="{{ camp.id }}" name="ucampground-id">
									<button type="submit" class="btn btn-sm btn-danger">Remove</button>
								</form>
								<form action="/trips/{{ trip.id }}/campground/assign", method="POST">
									<select name="camp-day" id="day">
										<option value="">Pick A Day</option>
										{% for day in days %}
										<option value="{{ day.id }}">
											{{ day["dow"] }} {{ day["month"] }} {{ day["day"] }}, {{ day["year"] }}
										</option>
										{% endfor %}
									</select>
									<input type="hidden" name="location-id" value="{{ camp.id }}">
									<button type="submit" class="btn btn-sm btn-secondary">Add</button>
								</form>
							</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="container" style="padding:0px 12px 0px 0px;">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">Activities</h2>
						<a href="" id="more-acts-btn" class="btn btn-md btn-secondary more-button">More Activities</a>
						<ul class="list-group">
						{% for act in trip.u_acts %}
							<li class="list-group-item">{{ act.activity.name }} @ 
								<a href="/locations/{{ act.location.id }}">{{ act.location.name}}</a>
								<form action="/trips/{{ trip.id }}/activity/delete" method="POST">
									<input type="hidden" value="{{ act.id }}" name="uact-id">
									<button type="submit" class="btn btn-sm btn-danger">Remove</button>
								</form>
								<form action="/trips/{{ trip.id }}/activity/assign", method="POST">
									<select name="act-day" id="day">
										<option value="">Pick A Day</option>
										{% for day in days %}
										<option value="{{ day.id }}">
											{{ day["dow"] }} {{ day["month"] }} {{ day["day"] }}, {{ day["year"] }}
										</option>
										{% endfor %}
									</select>
									<input type="hidden" name="uact-id" value="{{ act.id }}">
									<button type="submit" class="btn btn-sm btn-secondary">Add</button>
								</form>
							</li>
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<script>let tripId = "{{ trip.id }}"</script>
{% endblock %} 