{% extends "base.html" %}

{% block title %}{{ trip.name }}{% endblock %}

{% block content %}
<div class="container mt-2">

</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-1"></div>
		<div class="col pl-0">
			<h1 class="display-3">{{ trip.name }}</h1>
		</div>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-7">
			<div class="row border mt-3" style="background-color: lightgray">
				<div class="row pt-2" >
					<div class="col-2">
						<h5>Day1</h5>
					</div>
					<div class="col-7"></div>
					<div class="col-3">
						<h5>June 23rd</h5>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<h5>Stay</h5>
					<p><a href=''>Elk Meadow Lodge</a></p>
				</div>
				<div class="col-10">
					<div class="row text-center pt-1">
						<h5>Activities</h5>
					</div>
					<div class="row">
						<div class="col-4">
							<a href="">Yellowstone National Park</a>
						</div>
						<div class="col-3">
							<ul class="list-unstyled">
								<li>Hiking</li>
								<li>Swimming</li>
							</ul>
						</div>
						<div class="col-5">
							<textarea class="form-control" placeholder="Notes"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="row border mt-3" style="background-color: lightgray">
				<div class="row pt-2" >
					<div class="col-2">
						<h5>Day2</h5>
					</div>
					<div class="col-7"></div>
					<div class="col-3">
						<h5>June 24th</h5>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<h5>Stay</h5>
					<p><a href=''>Elk Meadow Lodge</a></p>
				</div>
				<div class="col-10">
					<div class="row text-center pt-1">
						<h5>Activities</h5>
					</div>
					<div class="row pb-2">
						<div class="col-4">
							<a href="">Yellowstone National Park</a>
						</div>
						<div class="col-3">
							<ul class="list-unstyled">
								<li>Horesback Riding</li>
							</ul>
						</div>
						<div class="col-5">
							<textarea class="form-control" placeholder="Notes"></textarea>
						</div>
					</div>
					<div class="row pb-2">
						<div class="col-4">
							<a href="">Terrapin Lodge</a>
						</div>
						<div class="col-3">
							<ul class="list-unstyled">
								<li>Fancy Dinner</li>
							</ul>
						</div>
						<div class="col-5">
							<textarea class="form-control" placeholder="Notes"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3">
			<h2 class="display-5">Possibilities</h2>
			<ul class="nav nav-tabs" id="possibility-tabs">
				<li class="nav-item">
				  <a class="nav-link active" id="stay-tab" aria-current="page" href="#">Stay</a>
				</li>
				<li class="nav-item" >
				  <a class="nav-link" id="visit-tab" href="#">Visit</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" id="do-tab" href="#">Do</a>
				</li>
			  </ul>
			<table class="table table-hover mt-3" id="stay-table">
				<tbody>
					<thead>
						<td colspan="2" class="fw-bold">Places to Stay</td>
					</thead>
					{% for campground in trip.unassinged %}
						<tr>
							<td class="align-middle img-col">
								Image
							</td>
							<td class="align-middle name-col">Campground Name</td>
						</tr>
					{% endfor %}
				</tbody>
			  </table>
			<table class="table table-hover mt-3 d-none" id="visit-table">
					<thead>
						<td colspan="2" class="fw-bold">Places to Visit</caption>
					</thead>
				<tbody>
					<tr onclick="window.location='';">
						<td id="img-col" class="align-middle">
							<img id="result-img" src="https://cdn.pixabay.com/photo/2020/06/14/17/57/mountains-5298769_1280.jpg">
						</td>
						<td id="name-col" class="align-middle">Great Smoky Mountains</td>
					</tr>
					<tr onclick="window.location='';">
						<td id="img-col" class="align-middle">
							<img id="result-img" src="https://cdn.pixabay.com/photo/2020/06/14/17/57/mountains-5298769_1280.jpg">
						</td>
						<td id="name-col" class="align-middle">Baxter State Park</td>
					</tr>
					<tr onclick="window.location='';">
						<td id="img-col" class="align-middle">
							<img id="result-img" src="https://cdn.pixabay.com/photo/2020/06/14/17/57/mountains-5298769_1280.jpg">
						</td>
						<td id="name-col" class="align-middle">Zion National Park</td>
					</tr>
				</tbody>
			  </table>
			  <table class="table table-hover mt-3 d-none" id="do-table">
				<tbody>
					<thead>
						<td colspan="2" class="fw-bold">Things to Do</td>
					</thead>
					<tr onclick="window.location='';">
						<td id="img-col" class="align-middle">
							<img id="result-img" src="https://cdn.pixabay.com/photo/2020/06/14/17/57/mountains-5298769_1280.jpg">
						</td>
						<td id="name-col" class="align-middle">Hike to Morador</td>
					</tr>
					<tr onclick="window.location='';">
						<td id="img-col" class="align-middle">
							<img id="result-img" src="https://cdn.pixabay.com/photo/2020/06/14/17/57/mountains-5298769_1280.jpg">
						</td>
						<td id="name-col" class="align-middle">Visit Galactica</td>
					</tr>
					<tr onclick="window.location='';">
						<td id="img-col" class="align-middle">
							<img id="result-img" src="https://cdn.pixabay.com/photo/2020/06/14/17/57/mountains-5298769_1280.jpg">
						</td>
						<td id="name-col" class="align-middle">Frolick in the Shire</td>
					</tr>
				</tbody>
			  </table>
		</div>
		<div class="col-1"></div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/tripDetails.js"></script>
{% endblock %}