{% extends "base.html" %}

{% block title %}Where{% endblock %}

{% block content %}
<div class="container">
	<div class="container" id="search-box">
		<h2>Where Do You Want To Go?</h2>
		<form>
			<div class="mb-3" id="search-params">

				<div style="margin-top:30px;">
					<input type="radio" class="btn-check" name="location-type" id="city-state" value="city-state" autocomplete="off" checked>
					<label class="btn btn-outline-secondary" for="city-state">City/State</label>

					<input type="radio" class="btn-check" name="location-type" id="lat-long" value="lat-long" autocomplete="off">
					<label class="btn btn-outline-secondary" for="lat-long">Latitude/Longitude</label>

					<input class ="form-control" id="city-field" placeholder="City" name="city" style="margin-top:10px;">

					<select class ="form-select" id="state-field" name="state" style="margin-top:10px;">
						<option>State</option>

					<input class ="form-control" id="lat-field" placeholder="Latitude" name="lat" style="margin-top:10px; display:none;">

					<input class ="form-control" id="long-field" placeholder="Longitude" name="long" style="margin-top:10px; display:none;">

					<input class ="form-control" id="radius-field" placeholder="Radius" name="radius" style="margin-top:10px">
				</div>
			</div>
			<button type="submit" class="btn btn-secondary" id="search-btn">Next</button>
		</form>
	</div>
</div>

<script> let tripId= "{{ trip_id }}"; </script>
{% endblock %}