{% extends "base.html" %}

{% block title %}Create Account{% endblock %}

{% block content %}
<h1 class="display-5 text-center mt-5">Create An Account</h1>
<div class="d-flex justify-content-center mt-5">
	
	<form  action="/signup" method="POST">
		{{ form.hidden_tag() }}
		<div class="row">
			<div class="col-4">
				{{ form.username.label }}
				{{ form.username(class="form-control", autocomplete="off")}}
			</div>
			<div class="col-8">
				{{ form.email.label }}
				{{ form.email(class="form-control", autocomplete="off")}}
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				{{ form.first_name.label }}
				{{ form.first_name(class="form-control", autocomplete="off")}}
			</div>
			<div class="col-6">
				{{ form.last_name.label }}
				{{ form.last_name(class="form-control", autocomplete="off")}}
			</div>
		</div>
		<div class="col-8">
			{{ form.password.label }}
			{{ form.password(class="form-control", autocomplete="off")}}
		</div>
		<div class="row mt-3">
			<div class="col">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
</div>

{% endblock %}