<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style-redesign.css">
	<link rel="stylesheet" href="/static/css/main.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-background">
	<nav class="navbar navbar-expand-sm bg-dark no-bottom-margin" style="padding:0;">
		<div class="container-fluid">
		  <a class="navbar-brand logo" href="/" style="padding:0;">AdventureOD</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse">
			<ul class="navbar-nav ms-auto mb-2 mb-sm-0">
				{% if g.user %}
				<li class="nav-item top-link">
					<a class="nav-link" href="/users/{{g.user.username}}/edit">{{g.user.username}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link top-link" href="/logout">Log Out</a>
				</li>
				<li class="nav-item">
					<a class="nav-link top-link" href="/trips">My Trips</a>
				</li>
				<li class="nav-item">
					<a class="nav-link top-link" href="/trips/create">New Trip</a>
				</li>

				{% else %}
				<li class="nav-item">
					<a class="nav-link top-link" href="/users/new">Create Account</a>
				</li>
				<li class="nav-item top-link">
					<a class="nav-link" href="/">Log In</a>
				</li>
				{% endif %}
			</ul>
		  </div>
		</div>
	</nav>


		{% for category, message in get_flashed_messages(with_categories=True) %}
			  <div class="alert alert-{{ category }} no-side-space text-center" style="margin:0; padding:0;">{{ message }}</div>
		  {% endfor %}


	<div class="container-fluid no-side-space">
		{% block content %}{% endblock %}
		{% block bg_pics %}{% endblock %}
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/jquery"></script>
	<script src="https://unpkg.com/axios/dist/axios.js"></script>
	<script src="/static/app.js"></script>
</body>

</html>
