
/* body {
	background-image: url('mountain-range.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
} */

.logo{
	font-family: 'Cabin Sketch', cursive !important;
	font-size: 3rem !important;
	font-weight: bold;
}

.top-link{
	font-family: 'Cabin Sketch', cursive !important;
	font-size:1.25rem !important
}

.header-h1{
	font-family: 'Cabin Sketch', cursive !important;
	font-size: 5rem;
}

.cover-container{
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.home-info-container{
	position: absolute;
	margin-top: 25px !important;
}

.page-form{
	width:50% !important;
	margin-top: 10px !important;
	margin-left:25% !important;
	margin-right:25% !important
}

.jumbo-container{
	margin-top: 20px !important;
}

.no-bottom-margin{
	margin-bottom: 0 !important;
}

.no-side-space{
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.img-container{
	width:100% !important;
	height:100px !important;
	overflow: hidden;
}

.link-img{
	max-width: 150px !important;
	border-radius: 10px;
}

.trip-img{
	max-width: 100px !important;
	border-radius: 5px;
}

.trip-card:hover {
	background-color: rgba(135, 203, 185,0.5) !important;
}

.result-item:hover{
	background-color: rgba(135, 203, 185,0.5) !important;
}

.trip-link{
	display: inline-block !important;
	text-decoration: none !important;
}

/* .attribute-container {
	position: relative;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
} */

