.img-col{
	width: 5%;
}
.name-col{
	width:40%;
}
.parent-col{
	width:30%
}
.loc-col{
	width:20%
}

.result-img{
	width: 100%;
	height: auto;
}

.trip-card{
	cursor:pointer
}

.header-img{
	width:100%;
}

.thing-img{
	width:100%;
}

/* .attribute-container {
	position: relative;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
} */

