{% extends 'basic.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">
	<form action="{{ action }}" method="{{ method }}">
		{{ form.hidden_tag() }}
		{% for field in form if field.widget.input_type != 'hidden' %}
			{% for error in field.errors %}
				<span class="text-danger">{{ error }}</span>
			{% endfor %}
			{{ field.label }}
			{{ field(class="form-control") }}
		{% endfor %}
		<button type="submit" class="btn btn-secondary">{{ submit_button }}</button>
		<a href="{{ back_action }}" class="btn btn-dark" role="button">Cancel</a>
	</form>
</div>

{% endblock %}