{% extends "base.html" %}

{% block title %}AdventureOD{% endblock %}

{% block content %}

<div class="container text-center">
	<h1>Find Your Next Adventure OutDoors</h1>
	<div class="row text-center" style="margin-top: 50px">
		<div class="col-3"></div>
		<div class="col-2">
			<a href="/users/new" class="btn btn-secondary btn-lg" role="button">Sign-up</a>
		</div>
		<div class="col-2">
			<a href="/users/login" class="btn btn-secondary btn-lg" role="button">Login</a>
		</div>
		<div class="col-2 text-center">
			<a href="/explore" class="btn btn-secondary btn-lg" role="button">Explore</a>
		</div>
		<div class="col-3"></div>
	</div>
	
</div>

{% endblock %}