{% extends "base.html" %}

{% block title %}TripOD{% endblock %}

{% block content %}

<div class="container" style="width:50%;">
	<div class="card">
		<div class="card-body">
			<div class="col">
				<a href="/trips/create" class="btn btn-secondary btn-lg" role="button">Plan A Trip</a>
			</div>
		</div>
	</div>
	<!-- <div class="card">
		<div class="card-body">
			<div class="col">
				<a href="/explore" class="btn btn-secondary btn-lg" role="button">Explore</a>
			</div>
		</div>
	</div> -->
</div>
{% endblock %}