{% extends "basic.html" %}

{% block title %}AdventureOD{% endblock %}

{% block header %}Discover Your Next Adventure OutDoors{% endblock %}

{% block content %}

<div class="container text-center">
	<div class="row" style="margin-top: 50px;">
		<div class="col">
			<a href="/users/new" class="btn btn-secondary btn-lg" role="button" style="width:100%; margin-top: 50px;">
				Sign-up
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a href="/users/login" class="btn btn-secondary btn-lg" role="button" style="width:100%; margin-top: 50px;">
				Login
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a href="/explore" class="btn btn-secondary btn-lg" role="button" style="width:100%; margin-top: 50px;">
				Explore
			</a>
		</div>
	</div>
</div>

{% endblock %}