{% extends "base.html" %}

{% block title %}Adventurely{% endblock %}

{% block content %}

<div class="px-4 my-5 text-center" id="landing-hero">
	<h1 class="display-5 fw-bold">Discover Your Next Adventure</h1>
	<div class="col-lg-6 mx-auto">
		{% if user %}
			<p class="lead mb-4">Find outdoor activities and places to camp on US public lands. Then plan your next trip!
		{% else %}
	  		<p class="lead mb-4">Find outdoor activities and places to camp on US public lands. <a href="{{ urls.users_login }}">Log In</a> or <a href="{{ urls.users_new }}">Create an Account</a> to plan and save a trip itenary.</p>
		{% endif %}
			<div class="container">
				<form action="/search">
					<div class="container">
						<div class="row">
							<div class="col-5">
								<select class="form-select bg-light" name="state" aria-label="State">
									<option selected>State</option>
									{% for state in state_names %}
										<option>{{ state }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-5">
								<input class="form-control bg-light" type="text" name="term" placeholder="Park Name or Keyword" aria-label="Park Name or Keyword">
							</div>
							<div class="col-2">
								<button type="submit" class="btn btn-outline-secondary">Search</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	  	</form>
	</div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}

