{% extends "base.html" %}

{% block title %}Adventurely{% endblock %}

{% block content %}

<div class="px-4 py-5 my-5 text-center" id="landing-hero">
	<h1 class="display-5 fw-bold">Discover Your Next Adventure</h1>
	<div class="col-lg-6 mx-auto">
		{% if user %}
			<p class="lead mb-4">Find outdoor activities and places to camp on US public lands. Then plan your next trip!
		{% else %}
	  		<p class="lead mb-4">Find outdoor activities and places to camp on US public lands. <a href="/login">Log In</a> or <a href="/users/new">Create an Account</a> to plan and save a trip itenary.</p>
		{% endif %}
	  	<form action="/search">
			<div class="container mb-2">
				<span>Search By:</span>
					<input class="btn-check m-0" type="radio" id="park-name-radio" name="park-name-radio">
					<label class="btn btn-outline-secondary btn-sm m-0" for="park-name-radio">
						Recreation Area
					</label>
					<span>OR</span>
					<input class="btn-check m-0" type="radio" id="city-state-radio" name="city-state-radio">
					<label class="btn btn-secondary btn-sm m-0" for="city-state-radio">
						City/State
					</label>
			</div>
			<div class="row">
				<div class="col-6">
					<input class="form-control" id="activity" type="text" placeholder="What do you want to do?">
				</div>
				<div class="col-4">		
					<input class="form-control" id="location" type="text" placeholder="Where"">
				</div>
				<div class="col-2">
					<button class="btn btn-outline-secondary">Search</button>
				</div>
			</div>
	  	</form>
	</div>
</div>

{% endblock %}

