{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}

<div class="container mt-2">
	<h1 class="display-5">Search Results</h1>
</div>
<div class="container-sm mt-3">
	<div class="btn-group">
		<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="sort-button">
			Facility Type
		</button>
		<ul class="dropdown-menu" id="fac-type-menu">
			<li><a class="dropdown-item" href="#">All</a></li>
			{% for fac_type in fac_types %}
			<li><a class="dropdown-item" href="#">{{fac_type}}</a></li>
			{% endfor %}
		</ul>
	</div>
	<table class="table table-hover mt-3" id="search-results-table">
		<tbody id="results-tbody">
			{% for result in results %}
			<tr onclick="window.location='/poi/{{ result.id }}';" >
				<td class="img-col align-middle">
					<img class="result-img" src="https://cdn.pixabay.com/photo/2020/06/14/17/57/mountains-5298769_1280.jpg">
				</td>
				<td class="name-col align-middle">{{ result.name }}</td>
				<td class="loc-col align-middle">{{ result.city}}, {{ result.state }}</td> 
			</tr>
			{% endfor %}
		</tbody>
	  </table>
</div>
{% endblock %}
{% block scripts %}
<script> const results = {{ results | tojson }}; </script>
<script src="/static/searchResults.js"></script>
{% endblock %}