{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}

<div class="container mt-2">
	<h1 class="display-5">Search Results</h1>
</div>
<div class="container-sm mt-3">
	<ul class="nav nav-tabs" id="type-tabs">
		<li class="nav-item" >
			<a class="nav-link active" id="park-tab" href="#">Parks</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="camp-tab" aria-current="page" href="#">Campgrounds</a>
		</li>
	</ul>
	<table class="table table-hover mt-3 mb-5" id="parks-table">
		<tbody id="parks-tbody">
			{% for result in results %}
			{% if result.type != "Campground" %}
			<tr onclick="window.location='/poi/{{ result.id }}';" >
				<td class="img-col align-middle">
					<img class="result-img" src="{{ result.img }}">
				</td>
				<td class="name-col align-middle">{{ result.name }}</td>
				{% if result.city and result.state%}
					<td class="loc-col align-middle">{{ result.city}}, {{ result.state }}</td>
				{% elif not result.city %}
				<td class="loc-col align-middle">{{ result.state }}</td>
				{% endif %}
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
	<table class="table table-hover mt-3 d-none mb-5" id="campgrounds-table">
		<tbody id="campgrounds-tbody">
			{% for result in results %}
			{% if result.type == "Campground" %}
			<tr onclick="window.location='/poi/{{ result.id }}';" >
				<td class="img-col align-middle">
					<img class="result-img" src="{{ result.img }}">
				</td>
				<td class="name-col align-middle">{{ result.name }}</td>
				{% if result.city and result.state%}
					<td class="loc-col align-middle">{{ result.city}}, {{ result.state }}</td>
				{% elif not result.city %}
				<td class="loc-col align-middle">{{ result.state }}</td>
				{% endif %}
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	  </table>
	
</div>
{% endblock %}
{% block scripts %}
<script src="/static/searchResults.js"></script>
{% endblock %}

<!-- <div class="btn-group">
	<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="sort-button">
		Facility Type
	</button>
	<ul class="dropdown-menu" id="fac-type-menu">
		<li><a class="dropdown-item" href="#">All</a></li>
		{% for fac_type in fac_types %}
		<li><a class="dropdown-item" href="#">{{fac_type}}</a></li>
		{% endfor %}
	</ul>
</div> -->