{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="container">
	<div class="card">
		<div class="card-body">
			<h2 class="card-title">Welcome {{ user.username }}</h2>
			<h6>Name: {{ user.first_name }} {{ user.last_name }}</h6>
			<h6>Email: {{ user.email }}</h6>
			<h6></h6>
			<a href="/users/{{ user.username }}/edit" class="btn btn-secondary">
				Edit Profile
			</a>
			<a href="/trips" class="btn btn-secondary">MyTrips</a>
		</div>
		
		
	</div>
</div>



{% endblock %}