{% extends 'base.html' %}

{% block title %}{% endblock %}


{% block header %}{% endblock %}

{% block content %}
<form class="page-form" action="", method="POST">
	{{ form.hidden_tag() }}
	<div class="row">
		<div class="col-4">
			{{ form.username.label }}
			{{ form.username(class="form-control input-bg")}}
		</div>
		<div class="col-8">
			{{ form.email.label }}
			{{ form.email(class="form-control input-bg")}}
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			{{ form.first_name.label }}
			{{ form.first_name(class="form-control input-bg")}}
		</div>
		<div class="col-6">
			{{ form.last_name.label }}
			{{ form.last_name(class="form-control input-bg")}}
		</div>
	</div>
	<div class="row">
		<div class="col">
			{{ form.password.label }}
			{{ form.password(class="form-control input-bg") }}
		</div>
	</div>
	{% block new_password %}{% endblock %}
	<div class="row" style="margin-top:20px;">
		<div class="col">
			<button type="submit" class="btn btn-primary">Submit</button>
			<a href="javascript:history.go(-1)" class="btn btn-dark">Cancel</a>
		</div>
	</div>
</form>
{% endblock %}