{% extends "base.html" %}

{% block title %}My Adventures{% endblock %}

{% block content %}
<div class="container mt-3">
	<h1 class="display-5">{{ user.first_name }}'s Adventures</h1>
	<a href="/trips/create" class="btn btn-outline-secondary">Plan A New Adventure</a>
	<div class="row">
		{% for trip in user.trips %}
		<div class="col-12 trip-card mt-3" id="{{ trip.id }}">
			<div class="card">
				<h3 class="card-header">{{ trip.name }}</h3>
				<div class="card-body">
					<h5>{{ trip.days[0].month }} {{ trip.days[0].day }}, {{ trip.days[0].year}} to {{ trip.days[-1].month }} {{ trip.days[-1].day }}, {{ trip.days[-1].year}}</h5>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	
</div>


{% endblock %}

{% block scripts %}
<script src="/static/trips.js"></script>
{% endblock %}