{% extends "base.html" %}

{% block title %}My Adventures{% endblock %}

{% block content %}
<div class="container mt-3">
	<h1 class="display-5">{{ user.first_name }}'s Adventures</h1>
	<a href="/trips/create" class="btn btn-secondary">Plan A New Adventure</a>
	<div class="row">
		{% for trip in user.trips %}
		<div class="col-4 trip-card mt-3" id="{{ trip.id }}">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">{{ trip.name }}</h3>
					<h5>{{ trip.start_date }} to {{ trip.end_date }}</h5>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	
</div>


{% endblock %}

{% block scripts %}
<script src="/static/trips.js"></script>
{% endblock %}