{% extends "base.html" %}

{% block title %}Update Trip{% endblock %}

{% block header %}Update Trip Details{% endblock %}
{% block content %}
<form class="page-form" action="/trips/{{ trip_id }}/update" method="POST">
	{{ form.hidden_tag() }}
	<div class="row">
		<div class="col">
			{{ form.name.label }}
			{{ form.name(class="form-control input-bg") }}
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			{{ form.start_date.label }}
			{{ form.start_date(class="form-control input-bg") }}
		</div>
		<div class="col-6">
			{{ form.end_date.label }}
			{{ form.end_date(class="form-control input-bg") }}
		</div>
	</div>
	<div class="row">
		<div class="col">
			{{ form.description.label }}
			{{ form.description(class="form-control input-bg") }}
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-9">
			<button type="submit" class="btn btn-secondary">Update</button>
			<a href="javascript:history.back()" class="btn btn-dark" role="button">Cancel</a>
		</div>
		</form>
		<div class="col-3">
			<form action="/trips/{{ trip_id }}/confirm-delete">
				<button type="submit" class="btn btn-danger">Delete Trip</button>
			</form>
		</div>
	</div>
{% block confirm_delete %}{% endblock %}
{% endblock %}